
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="products">
    <div class="container">
        <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
            <span class="title">Sorry for your inconvenience! We are trying to fix it! ☹</span>
        </div>
    </div>
</div>
