
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="new-top">
    <div class="container">
        <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
            <h3 class="title">Thank you for visiting SHOP<span>IE</span> !</h3>
            <div class="btn_form">
                <a href="/" id="btnContinue" class="add-cart item_add">Back to Shopie</a> -OR -
                <a href="/Cart" class="add-cart item_add">View your order</a>
            </div>
        </div>
    </div>
</div>



